<header class="header">
  <!-- Fondo de burbujas -->
<div class="bubbles-container">
  <span class="bubble" style="--i:0;"></span>
  <span class="bubble" style="--i:1;"></span>
  <span class="bubble" style="--i:2;"></span>
  <span class="bubble" style="--i:3;"></span>
  <span class="bubble" style="--i:4;"></span>
  <span class="bubble" style="--i:5;"></span>
  <span class="bubble" style="--i:6;"></span>
  <span class="bubble" style="--i:7;"></span>
  <span class="bubble" style="--i:8;"></span>
  <span class="bubble" style="--i:9;"></span>
  <span class="bubble" style="--i:10;"></span>
  <span class="bubble" style="--i:11;"></span>
</div>


  <!-- Logo + Título -->
  <div class="logo-titulo">
    <img src="assets/icons/logo.png" alt="Logo" class="logo-img">
    <span class="titulo">MI PORTA_FOLIO</span>
  </div>

  <!-- Menú -->
  <nav class="nav-menu">
    <a routerLink="/" class="nav-link">Inicio</a>
    <a routerLink="/proyectos" class="nav-link">Proyectos</a>
    <a routerLink="/contacto" class="nav-link">Contacto</a>
  </nav>
</header>




