.proyectos {
  padding: 50px 0;
  text-align: center;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

/* Grid tarjetas */
.grid-peliculas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  padding: 0 40px;
}

.card-pelicula {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 15px;
  transition: transform .3s;
}

.card-pelicula:hover {
  transform: translateY(-5px);
}

.card-pelicula img {
  width: 100%;
  border-radius: 10px;
}

.btn-detalles {
  background: #6c63ff;
  color: #fff;
  margin-top: 10px;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.btn-detalles:hover {
  background: #544bd4;
}
